body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:  #1F2A44;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #6C757D;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social-media {
    text-align: center;
    margin-bottom: 20px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
}

.social-media a img {
    width: 30px; /* Tamaño deseado */
    height: 30px; /* Tamaño deseado */
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center; /* Alinear contenido al centro horizontalmente */
    flex-direction: column; /* Apilar elementos verticalmente */
    text-align: center; /* Alinear texto al centro */
}

.profile img {
    width: 150px; /* Ajustar tamaño de la imagen */
    height: 150px; /* Ajustar tamaño de la imagen */
    border-radius: 50%;
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
}

.info {
    text-align: center; /* Alinear texto al centro */
}

.info h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.info p {
    margin: 0;
}
